@font-face {
    font-family: korinna;
    src: url(Korinna-Regular.otf)
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0309B8;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    color: whitesmoke;
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 1000px;
    background-color: #0309B8;
    font-family: korinna;
    text-shadow: 5px 5px black;
    font-size: 75px;

}

.popup-inner .text {
    width: 100%;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}